.filter {
    position: relative;

    .toggleButton {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        width: 3rem;

        color: $mono-600;
        box-shadow: 0 0 0 1px $mono-200;

        border-radius: 0.25rem;

        transition: color 100ms ease, background-color 100ms ease, box-shadow 100ms ease;

        @include dark-mode {
            color: $mono-300;
            box-shadow: 0 0 0 1px $mono-700;
        }

        svg {
            height: 1.35rem;
            width: 1.35rem;
        }

        &:hover {
            color: $mono-light;
            background-color: $mono-700;
            box-shadow: 0 0 0 1px $mono-700;

            @include dark-mode {
                color: $mono-700;
                background-color: $mono-light;
                box-shadow: 0 0 0 1px $mono-light;
            }
        }
    }

    .dialog {
        position: absolute;
        top: calc(100% + 0.5rem);
        right: 0rem;

        padding: 1.5rem;

        background-color: $mono-light;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);

        opacity: 0;
        
        border-radius: 0.5rem;

        z-index: 1000;

        scale: 0;
        transform-origin: top right;

        transition: scale 200ms ease, opacity 200ms ease;

        @include dark-mode {
            background-color: $mono-900;
            box-shadow: 0 0 0 1px $mono-700;
        }

        &[data-open='true'] {
            scale: 1;
            
            opacity: 1;
        }
    }
}

.buttonWrapper {
    display: flex;

    margin-top: 0.5rem;

    gap: 0.5rem;

    padding: 1px;

    button {
        flex-grow: 1;
        
        padding: 0.5rem 1rem;
        
        color: $mono-700;
        box-shadow: 0 0 0 1px $mono-200;
        
        font-size: $fs-11;
        font-weight: 500;
        text-align: center;
        
        border-radius: 0.1rem;

        transition: color 100ms ease, background-color 100ms ease, box-shadow 100ms ease;

        &:hover,
        &[data-active='true'] {
            color: $mono-light;
            background-color: $mono-700;
            box-shadow: 0 0 0 1px $mono-700;
        }

        @include dark-mode {
            color: $mono-light;
            box-shadow: 0 0 0 1px $mono-700;

            &:hover,
            &[data-active='true'] {
                color: $mono-700;
                background-color: $mono-light;
                box-shadow: 0 0 0 1px $mono-light;
            }
        }
    }
}

.sortByWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1px;

    margin-top: 0.75rem;

    white-space: pre;

    .row {
        h3 {
            display: block;

            color: $mono-700;
            font-size: $fs-11;
            font-weight: 700;
            
            padding-bottom: 0.25rem;
            
            border-bottom: 1px solid $mono-200;

            @include dark-mode {
                color: $mono-light;
                border-bottom: 1px solid $mono-700;
            }
        }

        .order {
            display: flex;
            gap: 0.5rem;
            
            margin-top: 0.5rem;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;

                padding: 0.5rem 0;
                
                font-size: $fs-11;
                color: $mono-700;
                box-shadow: 0 0 0 1px $mono-200;

                border-radius: 0.1rem;

                transition: color 100ms ease, background-color 100ms ease, box-shadow 100ms ease;

                &:hover,
                &[data-active='true'] {
                    color: $mono-light;
                    background-color: $mono-700;
                    box-shadow: 0 0 0 1px $mono-700;
                }

                @include dark-mode {
                    color: $mono-light;
                    box-shadow: 0 0 0 1px $mono-700;

                    &:hover,
                    &[data-active='true'] {
                        color: $mono-700;
                        background-color: $mono-light;
                        box-shadow: 0 0 0 1px $mono-light;
                    }
                }
            }
        }
    }
}

.rangeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;

    padding: 1px;

    margin-top: 0.75rem;

    .slider {
        width: 100%;
        height: 0.25rem;

        background-color: $mono-200;

        border-radius: 100vmax;


        @include dark-mode {
            background-color: $mono-700;
        }

        .overlay {
            position: relative;

            background-color: $mono-700;

            border-radius: 100vmax;

            height: 100%;

            .thumb {
                position: absolute;
                top: -0.175rem;
                right: 0;

                height: 0.6rem;
                width: 0.6rem;

                border-radius: 100vmax;

                background-color: $mono-700;

                box-shadow: 0 0 0 2.5px $mono-light;

                transition: box-shadow 200ms ease;
            }

            @include dark-mode {
                background-color: $mono-light;

                .thumb {
                    background-color: $mono-light;
                    box-shadow: 0 0 0 2.5px $mono-800;
                }
            }
        }

        input {
            position: relative;
            top: -100%;
            width: 100%;

            opacity: 0;

            cursor: pointer;
        }
    }

    .times {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding-bottom: 0.25rem;

        padding-left: 0.4rem;
        padding-right: 0.4rem;

        p {
            position: relative;

            color: $mono-700;
            font-size: $fs-10;
            font-weight: 700;

            width: 1.5rem;

            text-align: center;

            border-radius: 100vmax;

            &:nth-of-type(odd) {
                font-weight: 400;
                color: $mono-600;
            }

            &::before {
                content: '';
                
                position: absolute;
                left: 50%;
                bottom: calc(100% + 0.15rem);

                width: 1px;
                height: 0.25rem;

                background-color: $mono-400;
            }

            @include dark-mode {
                color: $mono-light;

                &:nth-of-type(odd) {
                    color: $mono-500;
                }

                &::before {
                    background-color: $mono-500;
                }
            }
        }
    }
}