.auth {
    display: flex;

    width: 100%;

    background-color: $mono-900;

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 50%;

        background-color: $mono-900;

        .brand {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            margin-top: 2rem;
            margin-bottom: auto;

            height: 2rem;

            color: $mono-light;

            h1 {
                font-size: $fs-20;
                font-weight: 500;
            }

            img {
                height: 2rem;
            }
        }

        .body {
            .forgottenPassword {
                width: 100%;

                color: $mono-600;
                font-size: $fs-14;
                font-weight: 400;
                text-align: center;

                transition: color 150ms ease;

                cursor: pointer;

                &:hover {
                    color: $mono-light;
                }
            }
        }

        .terms {
            display: flex;
            gap: 1rem;

            margin-top: auto;
            margin-bottom: 2rem;

            color: $mono-600;
            font-size: $fs-12;
            font-weight: 300;
        }
    }

    .right {
        position: relative;

        height: 100%;
        width: 50%;

        background-size: 1.75rem 1.75rem;
        background-image: linear-gradient(to right, alpha($mono-700, 0.35) 1px, transparent 1px),
            linear-gradient(to bottom, alpha($mono-700, 0.35) 1px, transparent 1px);
        border-left: 1px solid $mono-800;

        overflow: hidden;

        perspective: 1000px;

        .wrapper {
            position: relative;

            display: flex;
            align-items: center;

            width: 100%;
            height: 100%;

            border-radius: 2rem;

            transform: rotateX(10deg) rotateY(-15deg);

            img {
                margin-left: -9.5rem;

                height: 75%;

                object-fit: cover;

                filter: drop-shadow(0.125rem 0.125rem 0.25rem alpha($mono-dark, 0.05)) drop-shadow(0 0 1rem alpha($mono-dark, 0.125))
                    drop-shadow(0 0 7.5rem $mono-dark) drop-shadow(0 0 12.5rem $mono-dark);
            }

            &::before {
                content: '';

                position: absolute;
                top: 50%;
                left: 0;

                width: 100%;
                height: 75%;

                background-color: $mono-900;

                filter: blur(10rem);

                translate: 0 -50%;
            }
        }
    }
}
