.controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.67rem;

    height: 4rem;
    width: 100%;

    padding: 1rem;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 1rem;
        width: calc(100% - 2rem);
        height: 1px;
        background-color: $mono-200;
        z-index: 2;

        @include dark-mode {
            background-color: $mono-700;
        }
    }
}

.month {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    height: 1rem;
    width: 6.5rem;

    overflow: hidden;

    & .button {
        position: absolute;

        display: flex;
        align-items: center;

        color: $mono-500;

        z-index: 1;

        &.backward {
            left: 0;
        }

        &.forward {
            right: 0;
        }
    }

    & p {
        position: absolute;
        top: 50%;
        left: 50%;

        translate: -50% -50%;

        width: fit-content;
        height: fit-content;

        color: $mono-700;
        font-size: $fs-14;

        white-space: nowrap;

        @include dark-mode {
            color: $mono-100;
        }

        & span {
            color: $mono-600;
            font-weight: 400;

            @include dark-mode {
                color: $mono-500;
            }
        }
    }
}

.button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $mono-700;

    transition: color 100ms ease;

    @include dark-mode {
        color: $mono-100;
    }

    &[data-active='false'] {
        color: $mono-500;
    }

    &.toggleEventDisplayFormat {
        &::after {
            position: absolute;
            top: 100%;
            left: 50%;

            translate: -50% 0;

            font-size: $fs-8;
        }

        &.simple {
            &::after {
                content: '1';
            }
        }

        &.strip {
            &::after {
                content: '2';
            }
        }

        &.compact {
            &::after {
                content: '3';
            }
        }
    }

    &.today {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.375rem 0.75rem;

        font-size: $fs-12;
        color: $mono-600;
        border: 1px solid $mono-200;
        
        border-radius: 0.375rem;
        
        transition: border 100ms ease, background-color 100ms ease, color 100ms ease;

        @include dark-mode {
            color: $mono-light;
            border: 1px solid $mono-700;
        }

        &:hover {
            color: $blue;
            background-color: alpha($blue, 0.1);
            border: 1px solid alpha($blue, 0.5);

            @include dark-mode {
                color: $mono-light;
                background-color: $mono-800;
                border: 1px solid $mono-500;
            }
        }
    }
}

.divider {
    width: 1px;
    height: 1rem;

    background-color: $mono-400;

    @include dark-mode {
        background-color: $mono-600;
    }
}