@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@function list-contains($value, $list) {
    @each $item in $list {
        @if $item == $value {
            @return true;
        }
    }
    @return false;
}

@function alpha($color, $alpha) {
    @return transparentize($color, calc(1 - $alpha));
}

@function contrastize($color, $theme) {
    @if $theme == 'dark' {
        @if $color == $red {
            @return lighten($color, 5%);
        } @else if $color == $aqua {
            @return lighten($color, 5%);
        } @else if $color == $blue {
            @return lighten($color, 10%);
        } @else if $color == $purple {
            @return lighten($color, 20%);
        } @else {
            @return $color;
        }
    }

    @if $theme == 'light' {
        @if $color == $yellow {
            @return saturate(darken($color, 12.5%), 100%);
        } @else if $color == $green {
            @return saturate(darken($color, 5%), 50%);
        } @else if $color == $aqua {
            @return darken($color, 10%);
        } @else {
            @return $color;
        }
    }

    @return $color;
}

@mixin responsive($sizes) {
    $commonSizes: 'xlarge', 'large', 'medium', 'small', 'mobile';

    @each $size in $sizes {
        @if list-contains($size, $commonSizes) {
            [data-viewport='#{$size}'] & {
                @content;
            }
        } @else {
            [data-custom-viewport='#{$size}'] & {
                @content;
            }
        }
    }
}

@mixin dark-mode() {
    [data-theme='dark'] & {
        @content;
    }
}

// $mono-light: rgb(255, 255, 255);
// $mono-100: rgb(243, 245, 250);
// $mono-200: hsl(220, 27%, 93%);
// $mono-300: rgb(205, 214, 228);
// $mono-400: rgb(177, 188, 211);
// $mono-500: rgb(143, 160, 198);
// $mono-600: rgb(77, 93, 128);
// $mono-700: hsl(221, 27%, 25%);
// $mono-800: hsl(221, 32%, 13%);
// $mono-900: hsl(220, 30%, 8%);
// $mono-dark: rgb(9, 11, 17);

// $mono-light: hsl(0, 0%, 100%);
// $mono-100: hsl(223, 31%, 97%);
// $mono-200: hsl(220, 17%, 93%);
// $mono-300: hsl(217, 20%, 85%);
// $mono-400: hsl(221, 18%, 76%);
// $mono-500: hsl(221, 23%, 67%);
// $mono-600: hsl(221, 15%, 40%);
// $mono-700: hsl(221, 17%, 25%);
// $mono-800: hsl(221, 22%, 13%);
// $mono-900: hsl(220, 20%, 5%);
// $mono-dark: rgb(9, 11, 17);

$mono-light: hsl(0, 0%, 100%);
$mono-100: hsl(223, 36%, 97%);
$mono-200: hsl(220, 22%, 93%);
$mono-300: hsl(217, 25%, 85%);
$mono-400: hsl(221, 23%, 76%);
$mono-500: hsl(221, 28%, 67%);
$mono-600: hsl(221, 18%, 40%);
$mono-700: hsl(221, 22%, 25%);
$mono-800: hsl(221, 27%, 13%);
$mono-900: hsl(220, 25%, 5%);
$mono-dark: hsl(225, 31%, 5%);

// $red: hsl(350, 100%, 60%);
// $orange: hsl(20, 100%, 60%);
// $yellow: rgb(255, 191, 0);
// $green: rgb(78, 210, 45);
// $aqua: hsl(195, 100%, 50%);
// $blue: rgb(0, 123, 255);
// $purple: hsl(274, 100%, 65%);
// $pink: hsl(310, 100%, 50%);

// $red: #ff6961;
// $orange: #ffb480;
// $yellow: #f8f38d;
// $green: #42d6a4;
// $aqua: #08cad1;
// $blue: #59adf6;
// $purple: #9d94ff;
// $pink: #c780e8;

// $red: #FF0000;
// $orange: #FF7300;
// $yellow: #FF9500;
// $green: #55AF3F;
// $aqua: #179897;
$blue: #0066aa;
// $purple: #3F3173;
// $pink: #DA2E90;

$red: #ed1849;
$orange: #f2612f;
$yellow: #fcb022;
$green: #00b064;
$aqua: #0098a9;
// $blue: #00375b;
$purple: #561ca3;
$pink: #c2008b;

$fs-32: 2rem;
$fs-28: 1.75rem;
$fs-24: 1.5rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-15: 0.9375rem;
$fs-14: 0.875rem;
$fs-13: 0.8125rem;
// $fs-12: 0.75rem;
$fs-12: 0.775rem;
// $fs-11: 0.6875rem;
$fs-11: 0.7rem;
// $fs-10: 0.625rem;
$fs-10: 0.65rem;
// $fs-9: 0.5625rem;
$fs-9: 0.575rem;
// $fs-8: 0.5rem;
$fs-8: 0.525rem;

$font-family: 'Outfit', sans-serif;

$event-colors: (
    'BREAKFAST': $green,
    'LUNCH': $red,
    'DINNER': $blue,
    'ACTIVITY': $purple,
    'SNACK': $orange,
    'DRINK': $yellow,
    'APPETIZER': $pink,
    'DESSERT': $aqua
);

$metric-colors: (
    carbs: $aqua,
    protein: $yellow,
    fat: $red,
    minerals: $green,
    vitamins: $purple,
    pregnancy: $blue
);

:root {
    --toastify-color-light: #{$mono-light};
    --toastify-color-dark: #{$mono-800};
    --toastify-color-info: #{$blue};
    --toastify-color-success: #{$green};
    --toastify-color-warning: #{$orange};
    --toastify-color-error: #{$red};

    --toastify-font-family: #{$font-family};
    --toastify-text-color-light: #{$mono-600};
    --toastify-text-color-dark: #{$mono-light};
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

html,
body {
    font-family: $font-family;
    font-weight: 500;
    max-width: 100vw;
    min-height: 100svh;
    overflow-x: hidden;
}

body:has([data-theme='dark']) {
    background-color: $mono-dark;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
    cursor: text;
}

textarea {
    all: unset;
    cursor: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}

li {
    all: unset;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.app {
    display: flex;
    height: 100svh;

    isolation: isolate;

    main {
        flex: 1 1;
    }
}

#modal-root {
    position: fixed;
    // z-index: 1000000;
}

#drawer-root {
    position: fixed;
    isolation: isolate;
    // z-index: 10000000;
}

.no-transition * {
    transition: none !important;
}
