.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 200ms ease;
    pointer-events: none;

    @include dark-mode {
        background-color: transparentize($mono-700, 0.8);
    }
}

.backdrop.visible {
    opacity: 1;
    pointer-events: auto;
}

.drawer {
    position: fixed;
    display: flex;
    pointer-events: auto;
    transition:
        margin 200ms ease,
        transform 200ms ease;
}

.drawer.top,
.drawer.bottom {
    width: 100%;
    justify-content: center;
    min-height: 0;
    max-height: 90svh;
}

.drawer.left,
.drawer.right {
    height: 100%;;
    align-items: center;
}

.drawer.top {
    transform: translateY(-100%);
    top: 0;
}

.drawer.bottom {
    transform: translateY(100%);
    bottom: 0;
}

.drawer.left {
    transform: translateX(-100%);
    left: 0;
}

.drawer.right {
    transform: translateX(100%);
    right: 0;
}

.drawer.visible {
    transform: translateX(0);
}