.event {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1.25rem;

    .header {
        display: flex;
        align-items: center;

        .type {
            position: relative;

            display: flex;
            align-items: center;
            gap: 0.625rem;

            padding-right: 0.75rem;

            width: fit-content;

            color: $mono-600;
            font-weight: 500;

            border-radius: 100vmax;

            @include dark-mode {
                color: $mono-light;
            }

            .icon {
                scale: 1.1;
            }

            p {
                font-size: $fs-15;
                font-weight: 500;

                z-index: 1;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 0.375rem;

            margin-left: auto;

            button {
                display: grid;
                place-items: center;

                margin-left: auto;

                color: $mono-600;

                border-radius: 100vmax;

                @include dark-mode {
                    color: $mono-300;
                }

                svg {
                    height: 1.05rem;
                    width: 1.05rem;
                }

                &:hover {
                    color: $mono-800;

                    @include dark-mode {
                        color: $mono-light;
                    }
                }

                transition:
                    color 100ms ease,
                    background-color 100ms ease,
                    border-color 100ms ease;

                &.edit {
                    svg {
                        scale: 1.1;

                        path {
                            stroke-width: 3.5;
                        }
                    }
                }

                &.bookmark {
                    svg {
                        path {
                            stroke-width: 5;
                        }
                    }
                }

                &.remove {
                    margin-left: -0.1525rem;

                    svg {
                        scale: 1.25;

                        path {
                            stroke-width: 40;
                        }
                    }
                }
            }
        }
    }

    .metadata {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        padding: 0 0.375rem;
        margin-bottom: 0.25rem;

        color: $mono-600;

        white-space: pre;
        font-size: $fs-12;
        font-weight: 400;

        @include dark-mode {
            color: $mono-light;
        }
    }

    .items {
        display: flex;
        flex-direction: column;

        padding: 0.25rem;

        border: 1px solid $mono-200;

        border-radius: calc(0.625rem + 1px);

        @include dark-mode {
            border: 1px solid $mono-700;
        }

        .item {
            display: flex;
            align-items: center;
            gap: 0.375rem;

            padding: 0.5625rem 0.75rem;

            color: $mono-700;
            font-size: $fs-12;
            font-weight: 400;

            border-radius: 0.375rem;

            @include dark-mode {
                color: $mono-light;
            }

            &:nth-of-type(odd) {
                background-color: alpha($mono-100, 0.75);

                @include dark-mode {
                    background-color: alpha($mono-800, 1);
                }
            }

            .name {
                margin-right: 0.5rem;

                max-width: 15rem;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            span {
                display: inline-flex;
                align-items: center;
                gap: 0.25rem;

                margin-left: auto;

                color: $mono-600;
                font-size: $fs-11;

                @include dark-mode {
                    color: $mono-500;
                }
            }
        }

        .total {
            display: flex;

            margin: 0.5rem 0.25rem 0 0.25rem;

            padding: 0.625rem 0 0.5rem 0;

            width: calc(100% - 0.5rem);

            font-weight: 400;

            border-top: 1px solid $mono-200;

            @include dark-mode {
                border-top: 1px solid $mono-700;
            }

            span {
                display: block;

                padding: 0 0.5rem;

                &.key {
                    color: $mono-700;
                    font-size: $fs-12;

                    padding-right: 1.5rem;

                    @include dark-mode {
                        color: $mono-light;
                    }
                }

                &.value {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    margin-left: auto;
                    padding-left: 1.5rem;

                    color: $mono-700;
                    font-size: $fs-11;

                    @include dark-mode {
                        color: $mono-light;
                    }
                }
            }
        }
    }

    .divider {
        width: 100%;
        height: 1px;

        background-color: $mono-200;

        @include dark-mode {
            background-color: $mono-700;
        }
    }

    .separator {
        width: 1px;
        height: 0.75rem;

        background-color: $mono-300;

        @include dark-mode {
            background-color: $mono-600;
        }
    }

    @each $event, $color in $event-colors {
        &[data-type='#{$event}'] {
            $light-adjusted-color: contrastize($color, 'light');

            @include dark-mode {
                background: linear-gradient(to right, alpha($mono-800, 0.125), alpha($mono-800, 0.5));
            }
        }
    }
}
