.recipe {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-shrink: 1;

    padding: 1.5rem 5rem 0 5rem;

    height: 100%;
    width: 100%;
    min-width: 0;

    background-color: $mono-light;

    z-index: 102;

    overflow: scroll;

    @include dark-mode {
        background-color: $mono-900;
        box-shadow: 0 -1px $mono-700;
    }

    @include responsive(('threeColumns')) {
        margin: -1.5rem;
        margin-left: -0.75rem;

        height: calc(100% + 3rem);
        width: calc(100% + 2.25rem);
    }

    @include responsive(('summariesHidden')) {
        margin: -1.5rem;

        height: calc(100% + 3rem);
        width: calc(100% + 3rem);
    }

    @include responsive(('oneColumnNarrowMargins')) {
        padding: 1.5rem 2.5rem 0 2.5rem;
    }

    .back {
        display: grid;
        place-items: center;

        height: 1.25rem;
        width: 100%;

        color: $mono-400;

        transition: color 150ms ease;

        svg {
            height: 1.25rem;
            width: 1.25rem;

            path {
                stroke: $mono-light;
                stroke-width: 0.25;
            }
        }

        &:hover {
            color: $mono-700;
        }

        @include dark-mode {
            color: $mono-600;

            &:hover {
                color: $mono-light;
            }

            svg {
                path {
                    stroke: $mono-700;
                }
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        width: 100%;
        max-width: 50rem;

        @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
            max-width: 35rem;
        }

        .divider {
            height: 1px;
            width: 100%;

            background-color: $mono-200;

            &.delimiter {
                margin-bottom: -1rem;
            }

            @include dark-mode {
                background-color: $mono-700;
            }
        }

        .about {
            display: flex;
            align-items: flex-start;
            gap: 1.25rem;

            margin: 0.5rem 0;

            @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
                flex-direction: column;
            }

            .left {
                @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
                    width: 100%;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                flex-grow: 1;
                flex-shrink: 1;

                height: 100%;
                min-height: 0;

                overflow: hidden;

                @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
                    height: unset;
                    width: 100%;
                }
            }
        }
    }

    .body {
        display: flex;
        gap: 1rem;

        max-height: 100svh;
        width: 100%;
        max-width: 50rem;

        @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
            flex-direction: column;

            max-width: 35rem;
        }

        .ingredientsWrapper {
            padding-right: 1rem;
            margin-right: -1rem;

            max-height: calc(100svh - 5rem);
        }

        .methodWrapper {
            padding-right: 1rem;
            margin-right: -1rem;

            max-height: calc(100svh);

            flex-grow: 1;
            flex-shrink: 1;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;

            margin-top: 2.5rem;

            @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
                margin-top: 1.5rem;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            flex: 1 1;

            min-width: 20rem;

            @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
                border-top: 1px solid $mono-200;

                @include dark-mode {
                    border-top: 1px solid $mono-700;
                }
            }

            @include responsive('mobile') {
                min-width: unset;
            }

            .scaleWarning {
                padding: 1rem;

                width: fit-content;

                white-space: pre-wrap;

                font-size: $fs-13;
                font-weight: 300;
                line-height: $fs-20;
                color: $blue;
                background-color: transparentize($blue, 0.9);

                border-radius: 0.5rem;

                @include dark-mode {
                    color: $mono-light;
                    box-shadow: 0 0 0 1px $blue inset;
                }

                strong {
                    font-weight: 500;
                }

                span {
                    font-weight: 500;
                    text-decoration: underline;
                }

                &[data-ingredients-visible='false'] {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }

        &[data-editing='true'] {
            flex-direction: column;

            .ingredients {
                width: 100%;

                li {
                    cursor: text;

                    p {
                        max-width: unset;
                    }
                }
            }
        }

        &[data-display-ingredients='false'] {
            flex-direction: column;
            gap: 0;

            .ingredientsWrapper {
                display: none;
            }

            .methodWrapper {
                max-height: calc(100svh - 5rem);
            }

            .method {
                margin-top: -0.25rem;

                padding: 0 2rem;
            }
        }
    }
}

@media print {
    @page {
        size: a3;

        margin: 12.7mm 12.7mm 12.7mm 12.7mm;
    }

    .recipe {
        box-shadow: none;

        overflow: visible;

        .back {
            display: none;
        }

        .header {
            margin-top: 3rem;
        }

        .ingredients {
            translate: 0 -1rem;
        }
    }
}
