.wrapper {
    flex: 1 1;

    padding: 0 0.75rem;

    height: calc(100% - 2rem);
    min-height: 0;

    @include responsive(('medium', 'small')) {
        padding: 0 0 2rem 0;
    }

    @include responsive(('twoColumns', 'oneColumns')) {
        max-height: 80svh;

        padding: 0 0.75rem;
    }

    .day {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        padding: 0 1rem 1rem 1rem;

        width: 100%;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include responsive(('twoColumns', 'mobile')) {
            position: relative;
            border-radius: 0;
        }

        .empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            flex-grow: 1;

            width: 100%;

            h1 {
                font-weight: 500;
                font-size: $fs-24;

                color: $mono-700;

                @include dark-mode {
                    color: $mono-400;
                }
            }

            h2 {
                font-weight: 400;
                font-size: $fs-16;

                color: $mono-500;

                margin-top: -0.5rem;
            }
        }
    }

    .addButton {
        display: flex;
        align-items: center;

        width: fit-content;
        padding: 0.5rem 1rem;

        color: $mono-600;
        background-color: $mono-light;
        border: 1px solid $mono-200;
        box-shadow: 0 0 0 0.5rem $mono-light;
        font-size: $fs-11;
        font-weight: 500;
        text-align: center;

        border-radius: 100vmax;

        z-index: 1;

        transition:
            color 100ms ease,
            background-color 100ms ease,
            border 100ms ease;

        @include dark-mode {
            color: $mono-light;
            background-color: $mono-900;
            border: 1px solid $mono-700;
            box-shadow: 0 0 0 0.5rem $mono-900;
        }

        &:hover {
            color: $blue;
            background-color: mix($mono-light, $blue, 90%);
            border: 1px solid mix($mono-light, $blue, 50%);

            @include dark-mode {
                color: $mono-light;
                background-color: $mono-800;
                border: 1px solid $mono-500;
            }
        }
    }

    .gap {
        position: relative;

        display: flex;
        justify-content: center;
        gap: calc(0.5rem + 1px);

        width: 100%;
        height: 2rem;

        color: $mono-600;

        @include dark-mode {
            color: $mono-200;
        }

        &::before {
            content: '';

            position: absolute;
            left: 0;
            top: calc(50% - 0.5px);

            height: 1px;
            width: 100%;

            background-color: $mono-200;

            z-index: 0;

            @include dark-mode {
                background-color: alpha($mono-700, 0.5);
            }
        }
    }
}
