.nutrition {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    width: 45%;
    max-width: 27.5rem;

    padding: 1.25rem 1.5rem 0 1.5rem;

    background-color: $mono-light;

    @include dark-mode {
        background-color: $mono-900;
    }

    @include responsive(('twoColumns')) {
        width: 100%;
        max-width: unset;
    }

    @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
        width: 100%;
        
        padding: 1.25rem 2rem 0 2rem;
        
        border-radius: 1rem 1rem 0 0;

        @include dark-mode {
            box-shadow: 0 0 0 1px $mono-700;
        }
    }

    @include responsive(('mobile')) {
        width: 100%;
        max-width: unset;
        
        padding: 1.25rem 1.5rem 0 1.5rem;

        @include dark-mode {
            border-radius: 0;
        }
    }
}

.divider {
    &.horizontal {
        height: 1px;
        width: 100%;
        
        background-color: $mono-200;
    }

    &.vertical {
        width: 1px;
        height: 1rem;
        
        background-color: $mono-300;
    }

    @include dark-mode {
        background-color: $mono-700;
    }
}

.scrollContainer {
    flex: 1 1;

    width: 100%;

    min-height: 0;
}

.body {
    position: relative;

    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 0 1rem;

    font-size: $fs-14;

    .top {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        
        margin: 0.75rem 0 0.25rem 0;

        width: 100%;

        .toggle {
            display: grid;
            place-content: center;

            margin-left: -1rem;

            color: $mono-700;

            height: 0.7rem;
            width: 0.7rem;

            @include dark-mode {
                color: $mono-light;
            }

            svg {
                height: 0.7rem;
                width: 0.7rem;

                rotate: -90deg;

                transition: rotate 200ms ease;
            }

            &[data-active='true'] {
                svg {
                    rotate: 0deg;
                }
            }
        }

        h2 {
            margin-left: -0.25rem;
            
            color: $mono-700;

            @include dark-mode {
                color: $mono-light;
            }
        }

        .foodGroup {
            color: $mono-500;
            font-size: $fs-12;
            font-weight: 400;
        }

        .divider {
            &.vertical {
                height: 0.75rem;
            }
        }

        .alerts {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            margin-left: auto;
            margin-right: 0.25rem;

            .alert {
                padding: 0.3rem 0.5rem;
                
                font-size: $fs-10;
                font-weight: 500;
                color: $orange;
                background-color: transparentize($orange, 0.9);
                
                border-radius: 0.25rem;

                @include dark-mode {
                    font-weight: 400;
                }

                @each $metric, $color in $metric-colors {
                    $light-adjusted-color: contrastize($color, 'light');
                    $dark-adjusted-color: contrastize($color, 'dark');

                    &[data-metric='#{$metric}'] {
                        color: $light-adjusted-color;
                        background-color: transparentize($light-adjusted-color, 0.875);
                        text-shadow: 0 0 0.25rem $mono-light;

                        @include dark-mode {
                            color: $dark-adjusted-color;
                            background-color: transparentize($dark-adjusted-color, 0.9);
                            box-shadow: 0 0 0 1px transparentize($dark-adjusted-color, 0.6);
                            text-shadow: 0 0 0.5rem $mono-dark;
                        }
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            color: $mono-700;

            @include dark-mode {
                color: $mono-light;
            }

            button {
                display: grid;
                place-content: center;

                height: 1rem;
                width: 1rem;

                scale: 0.95;
                
                color: $mono-700;

                transition: color 100ms ease;

                &.shoppingList {
                    svg {
                        scale: 1.35;
                        
                        stroke-width: 1.5px;
                    }
                }

                @include dark-mode {
                    color: $mono-light;
                }

                &:hover {
                    color: $mono-500;
                }
            }
        }
    }

    .middle {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        width: 100%;

        .serving {
            position: relative;

            display: flex;
            
            width: fit-content;

            font-size: $fs-11;
            
            box-shadow: 0 0 0 1px $mono-300;

            border-radius: 0.25rem;

            @include dark-mode {
                box-shadow: 0 0 0 1px $mono-600;
            }
            .displayed {
                display: flex;

                .specific {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    padding: 0 0.65rem;
                    
                    color: $mono-700;

                    border-radius: 100vmax;

                    @include dark-mode {
                        color: $mono-light;
                    }

                    button {
                        display: grid;
                        place-content: center;

                        height: 1rem;
                        width: 1rem;
                        
                        border-radius: 100vmax;
                        
                        svg {
                            color: $mono-700;

                            @include dark-mode {
                                color: $mono-light;
                            }
                        }
                    }

                    p {
                        display: flex;

                        white-space: pre;

                        span {
                            display: block;
                        }

                        .quantity {
                            font-weight: 500;
                            text-align: center;
                        }

                        .metric {
                            max-width: 7.5rem;

                            font-weight: 400;

                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }

                .weight {
                    display: flex;
                    align-items: center;
                    
                    padding: 0 0.75rem;
                    
                    height: 1.75rem;

                    text-align: center;
                    font-weight: 400;

                    color: $mono-700;
                    background-color: transparentize($mono-100, 0.5);
                    border-left: 1px solid $mono-300;
                    border-right: 1px solid $mono-300;

                    span {
                        font-weight: 500;
                    }

                    @include dark-mode {
                        color: $mono-light;
                        background-color: transparentize($mono-800, 0.5);
                        border-left: 1px solid $mono-700;
                        border-right: 1px solid $mono-700;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    
                    padding: 0 0.65rem;

                    color: $mono-700;

                    @include dark-mode {
                        color: $mono-light;
                    }

                    button {
                        display: grid;
                        place-content: center;

                        svg {
                            height: 0.75rem;
                            width: 0.75rem;
                        }

                        &.resetScale {
                            svg {
                                stroke-width: 0px;

                                scale: -1.1 1.1;
                            }
                        }

                        &.dropdownToggle {
                            svg {
                                stroke-width: 0.5px;

                                transition: rotate 200ms ease;
                            }

                            &[data-active='true'] {
                                svg {
                                    rotate: 180deg;
                                }
                            }
                        }
                    }
                }
            }

            .dropdownWrapper {
                position: absolute;

                top: 90%;
                left: 50%;

                translate: -50%;

                display: grid;
                grid-template-rows: 0fr;
                overflow: hidden;

                opacity: 1;
                box-shadow: none;

                border-radius: 0.35rem;

                z-index: 100;

                transition: grid-template-rows 150ms ease, box-shadow 150ms ease, top 150ms ease;

                &[data-active='true'] {
                    top: calc(100% + 0.6rem);
                    
                    grid-template-rows: 1fr;
                    
                    box-shadow: 0 0 0 1px transparentize($mono-700, $amount: 0.9), 4px 4px 20px rgba(0, 0, 0, 0.05);

                    @include dark-mode {
                        box-shadow: 0 0 0 1px $mono-700;
                    }
                }
            }

            .dropdown {
                min-height: 0;

                background-color: $mono-light;

                @include dark-mode {
                    background-color: $mono-900;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    padding: 1rem;

                    li {
                        padding: 0 1rem;
                        
                        border-radius: 0.25rem;

                        button {
                            width: 100%;

                            p {
                                display: flex;
                                gap: 0.25rem;
                                
                                font-size: $fs-12;
                                line-height: 2rem;

                                span {
                                    display: block;
                                }

                                .quantity {
                                    color: $mono-700;
                                    font-weight: 500;
                                    text-align: center;

                                    @include dark-mode {
                                        color: $mono-light;
                                    }
                                }

                                .unit {
                                    flex-grow: 1;

                                    min-width: 5rem;
                                    max-width: 10rem;

                                    margin-right: 0.5rem;

                                    font-weight: 400;
                                    color: $mono-600;

                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    @include dark-mode {
                                        color: $mono-400;
                                    }
                                }

                                .weight {
                                    color: $mono-500;
                                    font-size: $fs-11;
                                    font-weight: 400;

                                    margin-right: 0;
                                    margin-left: auto;
                                }
                            }
                        }

                        &:nth-of-type(even) {
                            background-color: transparentize($mono-100, $amount: 0.25);

                            @include dark-mode {
                                background-color: transparentize($mono-800, $amount: 0.25);
                            }
                        }

                        &:nth-of-type(odd) {
                            box-shadow: 0 0 0 1px transparentize($mono-200, $amount: 0.25) inset;

                            @include dark-mode {
                                box-shadow: 0 0 0 1px transparentize($mono-700, $amount: 0.5) inset;
                            }
                        }
                    }
                }
            }
        }
    }

    .nutrients {
        position: relative;
        display: flex;

        margin-bottom: 0.75rem;

        width: 100%;

        .simpleWrapper {
            position: relative;
            
            display: grid;
            grid-template-rows: 0fr;

            width: 100%;

            opacity: 0;
            
            overflow: hidden;
            
            transition: grid-template-rows 150ms ease, opacity 150ms ease;

            &[data-active='true'] {
                grid-template-rows: 1fr;
                
                opacity: 1;
            }

            .simple {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                
                width: 100%;
                min-height: 0;

                .nutrients {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 0.5rem;

                    padding: 1px;

                    width: 100%;
                    max-height: 2rem;

                    overflow: hidden;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 1.875rem;

                        padding: 0.75rem 0;

                        border-radius: 0.4rem;

                        font-weight: 500;
                        font-size: $fs-11;

                        cursor: default;

                        @include dark-mode {
                            border-radius: 0.25rem;
                        }

                        span {
                            display: block;
                        }

                        .value {
                            text-align: center;
                        }

                        .unit {
                            white-space: pre;
                            font-weight: 400;
                            margin-left: 1px;
                        }

                        &[data-metric='energy'] {
                            color: $mono-light;
                            background-color: $mono-800;

                            @include dark-mode {
                                color: $mono-light;
                                background-color: transparentize($mono-800, 0.5);
                                box-shadow: 0 0 0 1px $mono-600;
                            }
                        }

                        @each $metric, $color in $metric-colors {
                            $light-adjusted-color: contrastize($color, 'light');
                            $dark-adjusted-color: contrastize($color, 'dark');

                            &[data-metric='#{$metric}'] {
                                color: $light-adjusted-color;
                                background-color: transparentize($light-adjusted-color, 0.875);
                                text-shadow: 0 0 0.25rem $mono-light;

                                @include dark-mode {
                                    color: $dark-adjusted-color;
                                    background-color: transparentize($dark-adjusted-color, 0.9);
                                    box-shadow: 0 0 0 1px transparentize($dark-adjusted-color, 0.6);
                                    text-shadow: 0 0 1rem $mono-dark;
                                }
                            }
                        }
                    }
                }
            }
        }

        .detailsWrapper {
            position: relative;
            left: -50%;
            translate: -50%;

            display: grid;
            grid-template-rows: 0fr;
            
            opacity: 0;
            
            overflow: hidden;
            
            pointer-events: none;

            transition: grid-template-rows 300ms ease, opacity 300ms ease;

            &[data-active='true'] {
                grid-template-rows: 1fr;
                
                opacity: 1;
                
                pointer-events: auto;
            }

            .details {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;
                
                width: fit-content;
                min-height: 0;

                .showMore {
                    svg {
                        translate: 0 -0.05rem;
                        rotate: 180deg;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    
                    padding: 1px;

                    width: fit-content;

                    @include dark-mode {
                        gap: 0.75rem;
                    }

                    li {
                        display: flex;
                        flex-direction: column;
                        gap: 0.65rem;

                        width: fit-content;
                        padding: 0.75rem 1rem;
                        
                        border-radius: 0.5rem;


                        @include dark-mode {
                            border-radius: 0.25rem;
                        }

                        p {
                            display: flex;

                            width: 16rem;

                            font-size: $fs-12;

                            &.sub {
                                font-weight: 400;

                                span {
                                    &:nth-of-type(1) {
                                        margin-left: 0.5rem;
                                    }
                                }
                            }

                            span {
                                display: block;

                                &.value {
                                    margin-left: auto;
                                }

                                &.unit {
                                    width: 2rem;
                                    margin-left: 0.5rem;
                                    opacity: 0.6;
                                }

                                &.percentage {
                                    width: 3rem;
                                }

                                &.value,
                                &.percentage {
                                    text-align: right;
                                }
                            }

                            &.bVitaminsSimple {
                                .nutrient {
                                    display: flex;
                                    
                                    white-space: pre;
                                    user-select: none;
                                    
                                    cursor: pointer;
                                }
                            }
                        }

                        .bVitaminsDetailsWrapper {
                            display: grid;
                            grid-template-rows: 0fr;
                            overflow: hidden;

                            margin-top: -0.5rem;
                            
                            opacity: 0;

                            transition: grid-template-rows 150ms ease, margin-top 150ms ease, opacity 150ms ease;

                            &[data-active='true'] {
                                grid-template-rows: 1fr;
                                
                                margin-top: 0;
                                
                                opacity: 1;
                            }

                            .bVitaminsDetails {
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;

                                min-height: 0;
                            }
                        }

                        &[data-metric='energy'] {
                            color: $mono-light;
                            background-color: $mono-800;

                            p {
                                .unit {
                                    opacity: 1;
                                }

                                &:first-of-type {
                                    padding-bottom: 0.65rem;
                                    
                                    border-bottom: 1px solid $mono-700;
                                }
                            }

                            @include dark-mode {
                                color: $mono-light;
                                background-color: transparentize($mono-800, 0.5);
                                box-shadow: 0 0 0 1px $mono-600;
                            }
                        }

                        @each $metric, $color in $metric-colors {
                            $light-adjusted-color: contrastize($color, 'light');
                            $dark-adjusted-color: contrastize($color, 'dark');

                            &[data-metric='#{$metric}'] {
                                color: $light-adjusted-color;
                                background-color: transparentize($light-adjusted-color, 0.9);
                                text-shadow: 0 0 0.5rem $mono-light;

                                @include dark-mode {
                                    color: $dark-adjusted-color;
                                    background-color: transparentize($dark-adjusted-color, 0.9);
                                    box-shadow: 0 0 0 1px transparentize($dark-adjusted-color, 0.6);
                                    text-shadow: 0 0 0.75rem $mono-900;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;

        flex: 1 1;

        background-color: $mono-300;

        @include dark-mode {
            background-color: $mono-600;
        }
    }
}
