.todayText {
    fill: var(--mono-600);
    font-size: 0.25rem;
    font-weight: 400;
    background-color: white;
    text-anchor: middle;
}

.barTitle {
    font-size: 0.25rem;
    fill: var(--mono-600);
}

.barTitle .this {
    font-weight: 300;
}

.barTitle .timespan {
    fill: var(--mono-700);
}
