.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 17rem;
}

.day {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0 1px var(--mono-200);
    border-radius: 100vmax;
}

.longTerm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.longTerm > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}