.forgottenPassword {
    width: 100%;

    color: $mono-600;
    font-size: $fs-14;
    font-weight: 400;
    text-align: center;

    transition: color 150ms ease;

    cursor: pointer;

    &:hover {
        color: $mono-light;
    }
}
