.tags {
    position: relative;

    padding: 0.25rem 0;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    border-bottom: 1px solid $mono-200;

    @include dark-mode {
        border-bottom: 1px solid $mono-700;
    }

    &[data-open='true'] {
        flex-direction: column;
        align-items: center;
        gap: 0;

        .wrapper {
            grid-template-rows: 1fr;

            padding-bottom: 0;
        }

        .showMore {
            margin-left: auto;
            margin-top: 0;
            svg {
                rotate: 180deg;
            }
        }
    }

    .wrapper {
        position: relative;

        flex-shrink: 1;
        flex-grow: 1;

        display: grid;
        grid-template-rows: 0fr;

        padding-top: 0.25rem;
        padding-bottom: 0.5rem;

        overflow: hidden;

        width: 100%;

        transition:
            grid-template-rows 350ms ease,
            padding-bottom 350ms ease;

        &::after {
            content: '';

            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 0.75rem;

            background-color: $mono-light;
        }

        @include dark-mode {
            &::after {
                background-color: $mono-900;
            }
        }
    }

    .toggle {
        position: absolute;
        bottom: -0.5rem;
        left: 50%;

        display: grid;
        place-items: center;

        height: 1rem;
        width: 1rem;

        color: $mono-500;
        background-color: $mono-light;
        border: 1px solid $mono-300;

        border-radius: 50%;

        cursor: pointer;

        translate: -50%;

        z-index: 1;

        transition:
            color 150ms ease,
            background-color 150ms ease,
            border 150ms ease;

        @include dark-mode {
            color: $mono-light;
            background-color: $mono-900;
            border: 1px solid $mono-600;
        }

        &:hover {
            color: $mono-light;
            background-color: $mono-700;
            border: 1px solid $mono-700;

            @include dark-mode {
                background-color: $mono-800;
                border: 1px solid $mono-500;
            }
        }

        &::before,
        &::after {
            content: '';

            position: absolute;
            top: 50%;

            height: 1px;
            width: 0.5rem;

            background-color: $mono-light;

            @include dark-mode {
                background-color: $mono-900;
            }
        }

        &::before {
            right: calc(100% + 1px);
        }

        &::after {
            left: calc(100% + 1px);
        }

        svg {
            height: 0.4rem;

            transition: rotate 350ms ease;

            path {
                stroke-width: 1.5;
            }
        }

        &[data-open='true'] {
            svg {
                rotate: 180deg;
            }
        }
    }
}

.container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;

    min-width: 0rem;
    width: 100%;
    min-height: calc(2rem + 0.25rem + 2px);

    padding-bottom: 0.75rem;
}

.measurements {
    visibility: hidden;

    height: 0;
    min-height: 0;

    .chip {
        flex-grow: 0 !important;
    }
}

.line {
    display: flex;
    gap: 0.6rem;

    width: 100%;
}

.chip {
    flex-grow: 1;
    flex-shrink: 0;

    height: 2rem;
    width: fit-content;

    border-radius: 0.5rem;

    border: 1px solid $mono-200;

    cursor: pointer;

    overflow: hidden;

    transition:
        color 100ms ease,
        background-color 100ms ease,
        border 100ms ease;

    @include dark-mode {
        border: 1px solid $mono-700;
    }

    &[data-grow='false'] {
        flex-grow: 0;

        .name {
            padding: 0 1rem 0 1.5rem;
        }
    }

    p {
        display: flex;
        gap: 0.5rem;

        line-height: 2rem;
        width: 100%;

        font-size: $fs-11;
        text-align: center;
        white-space: pre;

        .name {
            flex-grow: 1;

            color: $mono-700;
            font-weight: 500;

            padding: 0 0.25rem 0 1rem;

            transition: color 100ms ease;

            @include dark-mode {
                color: $mono-light;
            }
        }

        .count {
            color: $mono-600;
            background-color: transparentize($mono-100, 0.5);

            font-weight: 400;

            padding: 0 0.5rem;

            border-left: 1px solid $mono-200;

            transition:
                color 100ms ease,
                background-color 100ms ease,
                border 100ms ease;

            @include dark-mode {
                color: $mono-300;
                background-color: $mono-800;
                border-left: 1px solid $mono-700;
            }
        }
    }

    &:hover {
        background-color: alpha($blue, 0.1);
        border: 1px solid alpha($blue, 0.5);

        .name {
            color: $blue;
        }

        .count {
            color: $blue;
            background-color: transparent;
            border-left: 1px solid alpha($blue, 0.5);
        }

        @include dark-mode {
            background-color: $mono-800;
            border: 1px solid $mono-500;

            .count {
                background-color: $mono-700;
                border-left: 1px solid $mono-500;
            }
        }
    }

    &[data-active='true'] {
        background-color: $mono-700;
        box-shadow: unset;

        border: 1px solid $mono-700;

        p {
            .name {
                color: $mono-light;
            }

            .count {
                color: $mono-700;
                background-color: $mono-light;
                border-left: 1px solid $mono-700;
            }
        }

        @include dark-mode {
            background-color: $mono-800;
            border: 1px solid $mono-200;

            p {
                .name {
                    color: $mono-light;
                }

                .count {
                    color: $mono-light;
                    background-color: $mono-700;
                    border-left: 1px solid $mono-200;
                }
            }
        }
    }
}

.showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    flex-shrink: 0;

    margin-top: 0.25rem;

    height: 2rem;
    width: 2rem;

    color: $mono-700;
    border: 1px solid $mono-200;

    border-radius: 0.5rem;

    cursor: pointer;

    transition:
        color 100ms ease,
        background-color 100ms ease,
        border 100ms ease;

    @include dark-mode {
        color: $mono-light;
        border: 1px solid $mono-700;
    }

    &:hover {
        color: $blue;
        background-color: transparentize($blue, 0.9);
        border: 1px solid alpha($blue, 0.5);

        @include dark-mode {
            color: $mono-light;
            background-color: $mono-800;
            border: 1px solid $mono-500;
        }
    }

    svg {
        height: 0.7rem;

        path {
            stroke-width: 0.25;
        }
    }
}

.divider {
    margin-top: 0.75rem;

    height: 1rem;
    width: 1px;

    background-color: $mono-200;
}
