.month {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 1rem;

    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1), 0 0 0 1rem var(--mono-200), 0 0 0 calc(1rem + 1px) var(--mono-300);

    border-radius: 1rem;
}

.calendar {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    height: 2.5rem;
}

.day {
    font-weight: 500;
    font-size: var(--fs-11);
    color: white;
    background-color: var(--mono-700);

    width: fit-content;

    padding: 0.25rem 0.6rem;
    margin: auto auto 0.25rem auto;

    border-radius: 100vmax;
}

.body {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: 1fr;

    flex: 1;
    min-height: 0;
}

.cell {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    height: 100%;

    padding: 0 0.5rem 0 0.5rem;

    box-shadow: 0.5px 1px 0 0 var(--mono-200), -0.5px 1px 0 0 var(--mono-200);

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cell::-webkit-scrollbar {
    display: none;
}

.cell.outsideCurrentMonth * {
    opacity: 0.6;
}

.date {
    color: var(--mono-600);
    font-size: var(--fs-10);
    text-align: center;

    padding: 0.125rem 0.4rem;
    margin-top: 0.5rem;
}

.selected .date {
    color: white;
    background-color: var(--mono-700);

    border-radius: 100vmax;
}

.date .dayName {
    display: none;
}

.event {
    position: relative;

    display: flex;
    justify-content: space-between;
    gap: 0.05rem;

    width: calc(100% - 1.5px);

    padding: 0.25rem 0.4rem;

    border-radius: 0.2rem;
}

.event:last-of-type {
    margin-bottom: 0.5rem;
}

.event > p {
    font-size: var(--fs-10);
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
}

.eventName {
    flex-shrink: 1;

    color: var(--mono-700);
}

.eventTime {
    position: relative;

    color: var(--mono-500);
}

.event.compact {
    width: calc(100% - 2rem);
    height: 0.35rem;

    max-width: 15rem;

    padding: 0;

    border-radius: 100vmax;
}

.event.compact > p {
    display: none;
}

.event.detailed {
    background-color: transparent;
    box-shadow: none;

    padding: 0 0.4rem;
}

.event.detailed::before {
    content: '';

    position: absolute;
    left: -0.925rem;
    top: 50%;

    transform: translate(0, -50%);

    height: 0.75rem;
    width: 0.75rem;

    border-radius: 50%;

    background-color: currentColor;

    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.event.expanded .eventTime {
    color: var(--mono-900);
    opacity: 0.6;
}

.cell.outsideCurrentMonth .event.expanded .eventTime {
    opacity: calc(0.6 * 0.6);
}

/* Event colors */
.event.compact.breakfast,
.event.detailed.breakfast::before {
    background-color: var(--green-dark);
}

.event.compact.lunch,
.event.detailed.lunch::before {
    background-color: var(--pink);
}

.event.compact.dinner,
.event.detailed.dinner::before {
    background-color: var(--blue);
}

.event.compact.activity,
.event.detailed.activity::before {
    background-color: var(--purple);
}

.event.compact.snack,
.event.detailed.snack::before {
    background-color: var(--orange);
}

.event.compact.drink,
.event.detailed.drink::before {
    background-color: var(--yellow);
}

.event.compact.dessert,
.event.detailed.dessert::before {
    background-color: var(--aqua);
}

.event.expanded.breakfast {
    box-shadow: 0 0 0 1px var(--green-dark);
    background-color: var(--green-10);
}

.event.expanded.lunch {
    box-shadow: 0 0 0 1px var(--pink);
    background-color: var(--pink-10);
}

.event.expanded.dinner {
    box-shadow: 0 0 0 1px var(--blue);
    background-color: var(--blue-10);
}

.event.expanded.activity {
    box-shadow: 0 0 0 1px var(--purple);
    background-color: var(--purple-10);
}

.event.expanded.snack {
    box-shadow: 0 0 0 1px var(--orange);
    background-color: var(--orange-10);
}

.event.expanded.drink {
    box-shadow: 0 0 0 1px var(--yellow-dark);
    background-color: var(--yellow-10);
}

.event.expanded.dessert {
    box-shadow: 0 0 0 1px var(--aqua-dark);
    background-color: var(--aqua-10);
}

@media (max-width: 1024px) {
    .selected .date {
        color: var(--mono-600);
        background-color: unset;

        border-radius: unset;
    }
}

@media (max-width: 800px) {
    .days {
        display: none;
        width: 100%;
    }

    .body {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: unset;

        min-height: unset;

        overflow: scroll;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .body::-webkit-scrollbar {
        display: none;
    }

    .cell {
        padding: 0.5rem 1.5rem;

        overflow: unset;
    }

    .cell.hiddenWhenThreeColumns {
        display: none;
    }

    .date {
        white-space: pre;
        font-size: var(--fs-12);
    }

    .date .dayName {
        display: unset;
    }

    .event.detailed::before {
        left: -1.925rem;
    }
}

@media (max-width: 600px) {
    .body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cell.hiddenWhenThreeColumns {
        display: flex;
    }

    .cell.hiddenWhenTwoColumns {
        display: none;
    }
}

@media (max-width: 480px) {
    .body {
        grid-template-columns: 1fr;
    }

    .cell {
        gap: 0.35rem;

        height: unset;

        overflow: unset;
    }

    .cell.outsideCurrentMonth {
        display: none;
    }

    .date {
        font-size: var(--fs-12);
    }

    .event > p {
        font-size: var(--fs-12);
    }

    .event.detailed .eventTime {
        translate: 1.5rem;
    }
}
