.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
}


.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: rgb(255, 255, 255, 0.25);

    transition: color 100ms ease;

    &:hover {
        color: rgb(255, 255, 255, 0.75);
    }

    & svg {
        width: 2rem;
        height: 2rem;
    }
}