@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-and-blur-in {
    0% {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(0.25rem);
    }
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;

    animation: fade-in 100ms ease;

    &[data-blur='true'] {
        backdrop-filter: blur(0.25rem);

        animation: fade-and-blur-in 100ms ease;
    }

    &[data-blur='false'] {
        animation: fade-in 100ms ease;
    }
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: rgb(255, 255, 255, 0.25);

    transition: color 100ms ease;

    &:hover {
        color: rgb(255, 255, 255, 0.75);
    }

    & svg {
        width: 2rem;
        height: 2rem;
    }
}
