.datetime {
    color: $mono-600;
    font-size: $fs-12;
    font-weight: 500;
    white-space: pre;
    
    border-radius: 100vmax;
    
    user-select: none;

    @include dark-mode {
        color: $mono-300;
    }
}

.events {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
