.selector {
    position: relative;

    display: flex;
    padding: 0.25rem;
    gap: 0.25rem;

    background-color: transparentize($mono-200, 0.25);

    border-radius: 0.625rem;

    width: fit-content;

    @include dark-mode {
        background-color: $mono-dark;
        box-shadow: 0 0 0 1px $mono-700;
    }
}

.slider {
    content: '';

    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;

    background-color: $mono-light;

    border-radius: 0.375rem;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);

    @include dark-mode {
        background-color: $mono-800;
        box-shadow: 0 0 0 0.5px $mono-700 inset, 0 0 0 0.5px $mono-700;
    }
}

.button {
    padding: 0.3rem 0.6rem;

    color: $mono-500;
    font-size: $fs-12;
    text-align: center;

    z-index: 1;

    transition: color 100ms ease;

    @include dark-mode {
        color: $mono-600;
    }

    &:hover {
        color: $mono-600;

        @include dark-mode {
            color: $mono-300;
        }
    }

    &[data-is-selected='true'] {
        color: $mono-800;

        @include dark-mode {
            color: $mono-200;
        }
    }
}
