.createBar {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    background-color: $mono-light;

    @include dark-mode {
        background-color: $mono-900;
    }

    @include responsive(('twoColumns', 'oneColumnWideMargins', 'oneColumnNarrowMargins')) {
        padding: 1.5rem;

        border-bottom: unset;
        border-top: 1px solid $mono-200;

        @include dark-mode {
            border-bottom: unset;
            border-top: 1px solid $mono-700;
        }
    }

    .searchIcon {
        height: 1.35rem;
        width: 1.35rem;
    }

    .divider {
        height: 1.5rem;
        width: 1px;

        background-color: $mono-200;

        border-radius: 100vmax;

        @include dark-mode {
            background-color: $mono-700;
        }
    }

    > button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        width: 3.25rem;

        color: $mono-700;
        background-color: $mono-light;
        border: 1px solid $mono-200;

        border-radius: 0.5rem;

        transition:
            color 100ms ease,
            background-color 100ms ease,
            border 100ms ease;

        @include dark-mode {
            color: $mono-light;
            background-color: $mono-900;
            border: 1px solid $mono-700;
        }

        &:hover {
            color: $blue;
            background-color: transparentize($blue, 0.9);
            border: 1px solid alpha($blue, 0.5);

            @include dark-mode {
                color: $mono-light;
                background-color: $mono-800;
                border: 1px solid $mono-500;
            }
        }

        svg {
            width: 1.25rem;
            height: 1.25rem;

            path {
                stroke-width: 1.75px;
            }
        }
    }
}
