.event {
    color: var(--mono-700);
    
    border-radius: 0.25rem;
    
    padding: 0.75rem;
    
    box-shadow: 0 0 0 1.5px var(--mono-200);
    
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color 100ms ease, background-color 100ms ease, box-shadow 100ms ease;
}

.event:hover {
    color: white;
    background-color: var(--mono-700);
    
    box-shadow: 0 0 0 1.5px var(--mono-700);
    
    cursor: pointer;
}

.event * {
    overflow: hidden;
    text-overflow: ellipsis;
}

.event strong {
    font-weight: 500;
}

.category {
    font-size: var(--fs-11);
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.name {
    font-size: var(--fs-12);
    font-weight: 600;
    
    white-space: nowrap;
}

.calories {
    font-size: var(--fs-12);
    font-weight: 300;
    
    padding-left: 0.25rem;
    
    white-space: nowrap;   
}

.lastDate {
    color: var(--mono-600);
    font-size: var(--fs-11);
    font-weight: 500;
    
    white-space: pre;
    
    margin-top: 0.5rem;
}

.lastDate .date {
    font-weight: 400;
}

.event:hover .lastDate {
    color: var(--mono-400);
}