.card {
    margin-top: 2.5rem;
}

.profileImage {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    margin: 0;
    height: 5rem;
    width: 5rem;
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.25rem;
}

.title {
    color: $mono-800;
    font-size: $fs-24;
    font-weight: 600;
    text-align: center;

    @include dark-mode {
        color: $mono-100;
    }

    & span {
        font-weight: 500;
    }
}

.completed {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .meals,
    .activities {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .value {
        padding: 0.5rem 0.8rem;
        
        font-size: $fs-18;
        font-weight: 600;
        color: $mono-light;
        background-color: $mono-800;

        border-radius: 0.5rem;

        @include dark-mode {
            color: $mono-light;
            background-color: $mono-800;
            box-shadow: 0 0 0 1px $mono-700;
        }
    }

    .type {
        font-size: $fs-11;
        font-weight: 400;
        color: $mono-500;

        @include dark-mode {
            color: $mono-600;
        }
    }

    .meals {
        .type {
            text-align: right;
        }
    }

    .activities {
        .type {
            text-align: left;
        }
    }
}

.divider {
    background-color: $mono-200;

    @include dark-mode {
        background-color: $mono-700;
    }

    &.vertical {
        width: 1px;
        height: 1.25rem;
    }

    &.horizontal {
        height: 1px;
        width: 80%;
    }
}

.calories {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .value {
        font-size: $fs-18;
        padding: 0.6rem 0.9rem;
        font-weight: 400;
        text-align: center;
        text-shadow: 0 0 0.5rem rgb(255, 255, 255), 0 0 0.5rem rgb(255, 255, 255);

        @include dark-mode {
            text-shadow: 0 0 0.5rem $mono-800, 0 0 0.5rem $mono-800;
        }
    }

    .in {
        .value {
            border-radius: 0.25rem 1rem 0.25rem 1rem;
            background-color: transparentize($pink, 0.9);
            color: $pink;

            @include dark-mode {
                box-shadow: 0 0 0 1px transparentize($pink, 0.6);
            }
        }
    }

    .out {
        .value {
            border-radius: 1rem 0.25rem 1rem 0.25rem;
            background-color: transparentize($blue, 0.9);
            color: $blue;

            @include dark-mode {
                box-shadow: 0 0 0 1px transparentize($blue, 0.6);
            }
        }
    }

    .delta {
        .value {
            color: $purple;
            background-color: transparentize($purple, 0.9);
            border-radius: 0.5rem;
            font-weight: 500;

            @include dark-mode {
                box-shadow: 0 0 0 1px transparentize($purple, 0.6);
            }
        }
    }

    .type {
        font-size: $fs-11;
        font-weight: 400;
        color: $mono-500;
        text-align: center;
        margin-top: 0.25rem;

        @include dark-mode {
            color: $mono-400;
        }
    }
}

.latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}
