.card {
    position: relative;
    background-color: white;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    width: fit-content;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    padding-bottom: 1rem;
    box-shadow: 0 0.5px 0 var(--mono-200), 0 -0.5px 0 var(--mono-200) inset;
}

.cardBody {
    padding: 1rem;
    padding-top: 2rem;
}