.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    position: relative;
    display: flex;
    align-items: stretch;

    border-radius: 0.5rem;
}

.modalImage {
    max-width: 800px;
    max-height: 70svh;

    object-fit: cover;

    border-radius: 0.25rem;
}

.modalButton {
    background-color: rgba(0, 0, 0, 0.25);

    align-self: stretch;
    display: grid;
    place-items: center;

    width: 3rem;

    transition: background-color 100ms ease;
}

.modalButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.modalButton.prev {
    border-radius: 0.5rem 0.25rem 0.25rem 0.5rem;
    margin-right: 1rem;
}

.modalButton.next {
    border-radius: 0.25rem 0.5rem 0.5rem 0.25rem;
    margin-left: 1rem;
}

.modalButton > svg {
    height: 2rem;
    width: 2rem;

    color: rgb(255, 255, 255, 0.25);

    transition: color 100ms ease;
}

.modalButton:hover > svg {
    color: rgb(255, 255, 255, 0.75);
}

.modalCloseButton {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: rgb(255, 255, 255, 0.25);

    transition: color 100ms ease;
}

.modalCloseButton:hover {
    color: rgb(255, 255, 255, 0.75);
}

.modalCloseButton > svg {
    width: 2rem;
    height: 2rem;
}

.dotContainer {
    position: absolute;
    left: 50%;
    top: calc(100% + 1.5rem);
    translate: -50%;

    display: flex;
    justify-content: center;

    gap: 1rem;
}

.dot {
    height: 0.5rem;
    aspect-ratio: 1;

    background-color: white;
    border-radius: 50%;

    transition: box-shadow 200ms ease;
    cursor: pointer;
}

.dot.active {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

@media (max-width: 1024px) {
    .modalImage {
        max-width: 600px;
        max-height: 70svh;
    }

    .modalButton {
        width: 2.5rem;
    }
}

@media (max-width: 768px) {
    .modalImage {
        max-width: 80vw;
        max-height: 80svh;
    }

    .modalButton {
        max-width: 10vw;
        opacity: 0.5;

        transition: opacity 100ms ease;
    }

    .modalButton:hover {
        opacity: 1;
    }

    .modalButton.prev {
        translate: 100%;
        margin-right: 0;
        border-radius: 0.25rem 0 0 0.25rem;

        background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    }

    .modalButton.next {
        translate: -100%;
        margin-left: 0;
        border-radius: 0 0.25rem 0.25rem 0;

        background: linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    }

    .modalButton > svg {
        color: rgba(255, 255, 255, 1);
    }
}
