.requirements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 0.5rem;
    padding: 1.25rem 1.5rem;

    background-color: mix($mono-800, $mono-900, 50%);
    border: 1px solid mix($mono-700, $mono-800, 50%);

    border-radius: 0.5rem;

    p {
        color: $mono-400;
        font-size: $fs-14;
        font-weight: 400;
    }

    ul {
        width: fit-content;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
            margin-left: 0.25rem;

            color: $mono-600;
            font-size: $fs-13;
            font-weight: 400;
            white-space: pre;

            transition: color 150ms ease;

            &[data-met='true'] {
                color: $mono-light;
            }
        }
    }
}
