.header {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.25rem 0rem 1rem 0rem;

    border-bottom: 1px solid $mono-200;

    @include dark-mode {
        border-bottom: 1px solid $mono-700;
    }

    @include responsive(('twoColumns')) {
        padding: 0.5rem 0rem 0.75rem 0rem;
    }

    .tabs {
        position: relative;

        display: flex;
        align-items: center;
        flex-grow: 1;

        gap: 0.5rem;

        button {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;

            height: 2rem;

            padding: 0 0.75rem;

            color: $mono-700;
            font-size: $fs-13;

            border: 1px solid transparent;

            &::after {
                content: '';

                position: absolute;
                left: 50%;
                top: calc(100% + 0.125rem);

                height: 0.175rem;
                width: 0.175rem;

                translate: -50% 0.25rem;

                background-color: $mono-700;
                opacity: 0;

                border-radius: 100vmax;

                transition:
                    translate 150ms ease,
                    opacity 150ms ease;

                @include responsive(('twoColumns')) {
                    top: calc(100% + 0rem);
                }
            }

            &:hover {
                &::after {
                    translate: -50% 0;

                    opacity: 1;
                }
            }

            svg {
                scale: 1.35;
            }

            span {
                @include responsive(('twoColumns')) {
                    display: none;
                }
            }

            &[data-name='shoppingList'] {
                svg {
                    scale: 1.25;
                    translate: -0.1rem 0;

                    stroke-width: 2.25;
                }
            }

            &[data-name='favorites'] {
                svg {
                    scale: 1.25;

                    stroke-width: 0.1;
                }
            }

            @include dark-mode {
                color: $mono-light;

                &::after {
                    background-color: $mono-light;
                }
            }
        }

        .divider {
            height: 1.25rem;
            width: 1px;

            background-color: $mono-200;

            @include dark-mode {
                background-color: $mono-700;
            }
        }

        .bar {
            position: absolute;
            bottom: calc(-1rem - 1px);
            left: 0;

            height: 0.125rem;
            width: 100%;

            background-color: $mono-700;

            border-radius: 100vmax;

            z-index: 101;

            @include dark-mode {
                background-color: $mono-light;
            }

            @include responsive(('twoColumns')) {
                bottom: calc(-0.75rem - 1px);
            }
        }
    }

    .buttons {
        display: flex;
        height: 2rem;
        gap: 0.5rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0.5rem;

            aspect-ratio: 1;

            border-radius: 100%;
            color: $mono-700;
            border: 1px solid $mono-200;

            transition:
                background-color 100ms ease,
                color 100ms ease,
                border 100ms ease;

            &.switchView {
                svg {
                    path {
                        stroke: $mono-700;

                        transition: stroke 100ms ease;

                        @include dark-mode {
                            stroke: $mono-light;
                        }
                    }
                }
            }

            &:hover {
                color: $blue;
                background-color: alpha($blue, 0.1);
                border: 1px solid alpha($blue, 0.5);
            }

            @include dark-mode {
                color: $mono-light;
                border: 1px solid $mono-700;

                &:hover {
                    background-color: $mono-800;
                    border: 1px solid $mono-500;
                }
            }
        }
    }
}
