.content {
    display: grid;
    grid-template-areas: 'day month';
    grid-template-columns: auto 1fr;

    flex: 1 1;

    overflow: hidden;

    @include responsive(('medium', 'small', 'mobile')) {
        grid-template-areas: 'month';
        grid-template-columns: unset;
    }
}

.column {
    min-height: 0;

    &.left {
        display: flex;
        flex-direction: column;

        grid-area: day;

        width: max(25vw, 24rem);
        max-width: 24rem;

        background-color: white;

        border-right: 1px solid $mono-200;

        @include dark-mode {
            background-color: $mono-900;
            border-right: 1px solid $mono-700;
        }

        @include responsive(('medium', 'small', 'mobile')) {
            border-right: none;
        }

        &::after {
            @include responsive(('medium', 'small', 'mobile')) {
                content: '';
                position: absolute;
                top: calc(100% - 3.25rem);
                left: 2.25rem;

                height: 1px;
                width: calc(100% - 4.5rem);

                background-color: $mono-200;

                z-index: 1;

                @include dark-mode {
                    background-color: $mono-700;
                }
            }

            @include responsive(('twoColumns', 'oneColumn')) {
                top: calc(100% - 2rem);
                left: 1rem;

                width: calc(100% - 2rem);
            }
        }

        @include responsive(('medium', 'small', 'mobile')) {
            width: 22.5rem;

            box-shadow: none;

            @include dark-mode() {
                box-shadow: 0 0 0 1px $mono-700;
            }
        }

        @include responsive(('medium', 'threeColumns')) {
            height: 100%;
        }

        @include responsive(('medium', 'small')) {
            padding: 1.25rem;

            width: 27.5rem;

            border-radius: 0;
        }

        @include responsive(('small')) {
            left: calc(3.25rem / 2)
        }

        @include responsive(('twoColumns', 'oneColumn')) {
            padding: unset;

            position: relative;

            box-sizing: content-box;
            padding-bottom: 2rem;

            width: 97.5%;
            max-width: 25rem;

            box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.05);

            border-radius: 1rem 1rem 0 0;
        }
    }

    &.right {
        grid-area: month;

        width: 100%;
    }
}
