.logo {
    height: 1.75rem;
    width: 1.75rem;
    flex-shrink: 0;
}

.brand {
    font-size: 2rem;
    margin-left: 0.75rem;

    color: var(--mono-700);

    letter-spacing: -0.05rem;
    user-select: none;
    translate: 0 -0.2rem;

    transition: font-size 200ms ease, margin-left 200ms ease;
}

@media (max-width: 768px) {
    .brand {
        margin-left: 0;
        font-size: 0;
    }
}