.results {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 100%;
    height: 1px;

    background-color: $mono-200;

    @include dark-mode {
        background-color: $mono-700;
    }
}