.details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0 0.75rem;

    border-radius: 1.25rem;

    max-width: 20rem;
    min-width: 20rem;

    @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
        max-width: unset;
    }

    .origin {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .metrics {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;

            padding: 0.75rem 0.85rem;
            border-radius: 0.5rem;

            &:nth-of-type(odd) {
                background-color: alpha($mono-100, 0.75);

                @include dark-mode{
                    background-color: alpha($mono-800, 0.85);
                }
            }

            .icon {
                margin-right: 0.75rem;

                color: $mono-600;
            }

            .metric {
                width: 4.5rem;

                color: $mono-600;
                font-size: $fs-13;
                font-weight: 600;

                @include dark-mode {
                    color: $mono-500;
                }
            }

            .value {
                color: $mono-700;
                font-weight: 400;
                font-size: $fs-13;

                @include dark-mode {
                    color: $mono-light;
                }
            }

            &.totalTime {
                .icon {
                    path {
                        stroke-width: 12.5;
                    }
                }
            }
        }
    }

    .tagsLoading {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .divider {
        margin: 0.1rem 0;

        height: 1px;
        width: 100%;

        background-color: $mono-100;

        @include dark-mode {
            background-color: $mono-800;
        }
    }

    &[data-editing='true'] {
        .metrics {
            gap: 0.75rem;

            li {
                padding: 0;

                height: 1.75rem;

                background-color: transparent;

                @include dark-mode{
                    background-color: transparent;
                }
            }
        }
    }
}
