.row {
    display: grid;
    grid-template-columns: auto auto 1fr auto;

    border-radius: 0.35rem;

    &:nth-of-type(odd) {
        background-color: transparentize($mono-100, 0.35);

        @include dark-mode {
            background-color: transparentize($mono-800, 0.15);
        }
    }

    &:hover,
    &:focus-within,
    &[data-active='true'] {
        .buttons {
            .button {
                opacity: 1;

                @include dark-mode {
                    color: $mono-light;
                }
            }
        }
    }

    input[type='text'] {
        height: 2rem;

        padding-right: 1rem;

        font-size: $fs-12;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &.item {
            padding-left: 1.25rem;

            width: fit-content;

            color: $mono-700;
            font-weight: 400;

            border-radius: 0.25rem 0 0 0.25rem;

            @include dark-mode {
                color: $mono-light;
            }
        }

        &.quantity,
        &.note {
            color: $mono-600;
            font-weight: 300;

            &[data-populated='false'] {
                color: $mono-400;
            }

            @include dark-mode {
                color: $mono-400;

                &[data-populated='false'] {
                    color: $mono-600;
                }
            }
        }

        &.quantity {
            width: fit-content;
        }

        &.note {
            width: 100%;
        }

        &::placeholder {
            color: $mono-400;

            @include dark-mode {
                color: $mono-600;
            }
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        color: $mono-700;

        padding: 0 0.35rem;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 1rem;
            width: 1rem;

            opacity: 0;

            transition: opacity 100ms ease;

            &:hover {
                opacity: 0.75;
            }

            &[data-role='pantry'] {
                margin-right: 0.2rem;

                svg {
                    stroke-width: 2px;

                    scale: 0.8;
                }
            }

            &[data-role='shoppingList'] {
                margin-right: 0.2rem;

                svg {
                    stroke-width: 1.5px;

                    scale: 1.15;
                }
            }

            &[data-role='favorites'] {
                svg {
                    scale: 0.8;
                }
            }

            &[data-role='delete'] {
                svg {
                    path {
                        stroke-width: 35px;
                    }
                }
            }

            &[data-active='true'] {
                svg {
                    color: $mono-400;

                    @include dark-mode {
                        color: $mono-600;
                    }
                }
            }
        }
    }
}
