.bookmarks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    width: 100%;
}

.bookmark {
    border-radius: 0.25rem;
    
    padding: 0.75rem;
    
    box-shadow: 0 0 0 1.5px var(--mono-200);
    
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color 100ms ease, background-color 100ms ease, box-shadow 100ms ease;
}

.bookmark:hover {
    color: white;
    background-color: var(--mono-700);
    
    box-shadow: 0 0 0 1.5px var(--mono-700);
    
    cursor: pointer;
}

.bookmark * {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmark .name {
    font-size: var(--fs-12);
    font-weight: 600;
    
    white-space: nowrap;
}

.bookmark .calories {
    font-size: var(--fs-12);
    font-weight: 300;
    
    padding-left: 0.25rem;
    
    white-space: nowrap;   
}

.bookmark .lastDate {
    font-size: var(--fs-10);
    font-weight: 300;
    
    white-space: nowrap;
    
    margin-top: 0.25rem;
}

.bookmark strong {
    font-weight: 500;
}

@media (max-width: 480px) {
    .bookmarks {
        grid-template-columns: 1fr;
    }

    .bookmark:last-of-type {
        display: none;
    }
}