.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    background-color: white;
    box-shadow: 0 1px var(--mono-200);
    transition: padding 200ms ease;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    padding: 0 1rem;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.separator {
    height: 1.25rem;
    width: 1px;
    flex-shrink: 0;
    background-color: var(--mono-300);
    margin-left: 1.5rem;
    margin-right: 1rem;
}

@media (max-width: 768px) and (min-width: 481px) {
    .header {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .separator {
        margin-left: 1rem;
    }
}
