.section {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 22.5rem;

    &[data-stage='lower'] {
        &[data-reverse='false'] {
            animation: slide-out-left 300ms ease;
        }
        &[data-reverse='true'] {
            animation: slide-in-left 300ms ease;
        }
    }

    &[data-stage='higher'] {
        &[data-reverse='false'] {
            animation: slide-in-right 300ms ease;
        }
        &[data-reverse='true'] {
            animation: slide-out-right 300ms ease;
        }
    }
}

@keyframes slide-out-left {
    0% {
        opacity: 1;
        translate: 0%;
        scale: 1;
    }
    100% {
        opacity: 0;
        translate: -2.5rem;
    }
}

@keyframes slide-out-right {
    0% {
        opacity: 1;
        translate: 0%;
        scale: 1;
    }
    100% {
        opacity: 0;
        translate: 2.5rem;
    }
}

@keyframes slide-in-right {
    0% {
        opacity: 0;
        translate: 2.5rem;
    }
    100% {
        opacity: 1;
        translate: 0;
        scale: 1;
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        translate: -2.5rem;
    }
    100% {
        opacity: 1;
        translate: 0;
        scale: 1;
    }
}
