.upgradeButton {
    padding: 0.5rem 1rem;
    
    border-radius: 0.25rem;

    color: white;
    background-color: $mono-800;
    box-shadow: 0 0 0 1px $mono-800;

    transition: color 100ms ease, background-color 100ms ease, scale 100ms ease;

    @include dark-mode {
        color: $mono-800;
        background-color: $mono-light;
        box-shadow: 0 0 0 1px $mono-light;
    }

    &:hover {
        background-color: white;
        color: $mono-800;
        scale: 1.025;
    
        @include dark-mode {
            background-color: $mono-900;
            color: $mono-100;
        }
    }
}