.skeleton {
    display: block;

    height: 1rem;
    width: 100%;

    background: linear-gradient(
        to right,
        alpha($mono-100, 0.9) 15%,
        alpha($mono-200, 0.75) 50%,
        alpha($mono-100, 0.9) 85%
    );

    @include dark-mode {
        background: linear-gradient(
            to right,
            alpha($mono-700, 0.5) 15%,
            alpha($mono-800, 0.5) 50%,
            alpha($mono-700, 0.5) 85%
        );
    }

    background-size: 200% auto;
    border-radius: 0.5rem;

    animation: pulse 2000ms ease infinite;
}

@keyframes pulse {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}
