.cardTitle {
    color: var(--mono-800);
    font-size: var(--fs-16);
    font-weight: 600;
    
    user-select: none;
}

.cardTitlePrefix,
.cardTitleSuffix {
    font-weight: 400;
}

.cardTitleSuffix {
    color: var(--mono-500);
}

.cardHeaderFeature {
    display: flex;
    gap: 0.5rem;
}
