.icon {
    position: relative;
    
    display: grid;
    place-items: center;
    
    border-radius: 100%;
    
    box-shadow: 0 0 0 1px var(--green-10) inset, 0 0 0 3px white inset;
}

.icon[data-background = 'false'] {
    box-shadow: none;
    background-color: transparent;
}

.icon.walk svg {
    translate: 0 5%
}

/* Icon colors */
.icon.breakfast {
    fill: var(--green-dark);
    background-color: rgba(var(--green-dark-rgb), 0.10);
    
    box-shadow: 0 0 0 1px rgba(var(--green-dark-rgb), 0.35) inset, 0 0 0 3px white inset;
}

.icon.lunch {
    fill: var(--red);
    background-color: rgba(var(--red-rgb), 0.10);
    
    box-shadow: 0 0 0 1px rgba(var(--red-rgb), 0.25) inset, 0 0 0 3px white inset;
}

.icon.dinner {
    fill: var(--blue);
    background-color: rgba(var(--blue-rgb), 0.10);
    
    box-shadow: 0 0 0 1px rgba(var(--blue-rgb), 0.25) inset, 0 0 0 3px white inset;
}

.icon.walk {
    fill: var(--purple);
    background-color: rgba(var(--purple-rgb), 0.10);
    
    box-shadow: 0 0 0 1px rgba(var(--purple-rgb), 0.25) inset, 0 0 0 3px white inset;
}
