.details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0 0.75rem;

    border-radius: 1.25rem;

    max-width: 20rem;

    @include responsive(('oneColumnWideMargins', 'oneColumnNarrowMargins')) {
        max-width: unset;
    }

    .origin {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .metrics {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        li {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 0.5rem;

                color: $mono-600;
            }

            .metric {
                width: 4.5rem;

                color: $mono-600;
                font-size: $fs-14;
                font-weight: 600;

                @include dark-mode {
                    color: $mono-500;
                }
            }

            .value {
                color: $mono-700;
                font-weight: 400;
                font-size: $fs-13;

                @include dark-mode {
                    color: $mono-light;
                }
            }

            &.totalTime {
                .icon {
                    path {
                        stroke-width: 12.5;
                    }
                }
            }
        }
    }

    .divider {
        margin: 0.1rem 0;

        height: 1px;
        width: 100%;

        background-color: mix($mono-100, $mono-200, 50%);

        @include dark-mode {
            background-color: $mono-800;
        }
    }
}
