.search {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

    height: 3rem;

    padding: 0 0.5rem 0 0.75rem;
    
    border: 1px solid $mono-200;

    border-radius: 0.5rem;

    overflow: hidden;

    transition:
        color 150ms ease,
        background-color 150ms ease,
        border 150ms ease;

    @include dark-mode {
        border: 1.25px solid $mono-700;
    }

    .icon {
        display: grid;
        place-items: center;

        width: 2rem;
    }

    .go {
        margin-right: -1rem;

        svg {
            scale: 0.9;
        }
    }

    .go,
    .clear {
        &:hover {
            svg {
                color: $mono-500;
            }
        }
    }

    &:focus-within {
        background-color: alpha($blue, 0.1);
        border: 1px solid alpha($blue, 0.5);

        input {
            color: $blue;
        }

        svg {
            color: $blue;
        }

        .go,
        .clear {
            &:hover {
                svg {
                    color: alpha($blue, 0.65);

                    @include dark-mode {
                        color: $mono-light;
                    }
                }
            }
        }

        p {
            color: $blue;

            span {
                color: alpha($blue, 0.65);

                @include dark-mode {
                    color: $mono-500;
                }
            }
        }

        @include dark-mode {
            background-color: $mono-800;
            border: 1.25px solid $mono-500;

            svg {
                color: $mono-500;
            }
        }
    }

    svg {
        color: $mono-500;

        transition: color 100ms ease;

        @include dark-mode {
            color: $mono-400;
        }

        path {
            stroke: unset;
        }
    }

    input {
        flex-grow: 1;

        height: 3rem;

        font-size: $fs-14;
        font-weight: 400;
        color: $mono-700;

        transition: color 150ms ease;

        @include dark-mode {
            color: $mono-light;
        }
    }

    p {
        position: absolute;

        left: 3.25rem;

        width: 100%;

        color: $mono-700;
        font-size: $fs-14;
        font-weight: 500;

        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;

        pointer-events: none;

        span {
            color: $mono-500;
            font-weight: 400;
        }

        @include dark-mode {
            color: $mono-200;
        }
    }

    > button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;

        svg {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
}
