.search {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

    height: 3rem;

    padding: 0 0.5rem 0 0.75rem;

    border-radius: 0.25rem;

    box-shadow: 0 0 0 1px $mono-200;

    transition: box-shadow 100ms ease;

    @include dark-mode {
        box-shadow: 0 0 0 1px $mono-700;
    }

    &:has(input:focus) {
        box-shadow: 0 0 0 1.25px $mono-300;

        & svg {
            color: $mono-600;
        }

        @include dark-mode {
            box-shadow: 0 0 0 1.25px $mono-500;

            & svg {
                color: $mono-500;
            }
        }
    }

    & svg {
        color: $mono-500;

        width: 1.75rem;
        height: 1.75rem;

        scale: -1 1;

        transition: color 100ms ease;

        @include dark-mode {
            color: $mono-400;
        }

        & path {
            stroke: unset;
        }
    }

    & input {
        flex-grow: 1;
        
        height: 3rem;
        
        font-size: $fs-14;
        font-weight: 500;
        color: $mono-700;

        @include dark-mode {
            color: $mono-light;
        }
    }

    & p {
        position: absolute;

        left: 3rem;

        color: $mono-600;
        font-size: $fs-14;
        font-weight: 600;

        pointer-events: none;

        & span {
            color: $mono-500;
            font-weight: 400;
        }

        @include dark-mode {
            color: $mono-200;
        }
    }

    & > button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;
    }
}
