.search {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;

    height: 3rem;

    padding: 0 0.5rem 0 0.75rem;

    border-radius: 0.5rem;

    box-shadow: 0 0 0 1px $mono-200;

    overflow: hidden;

    transition:
        background-color 150ms ease,
        box-shadow 150ms ease;

    @include dark-mode {
        box-shadow: 0 0 0 1px $mono-700;
    }

    .icon {
        display: grid;
        place-items: center;

        width: 2rem;
    }

    .go {
        margin-right: -1rem;

        svg {
            scale: 0.9;
        }
    }

    .go,
    .clear {
        &:hover {
            svg {
                color: $mono-500;
            }
        }
    }

    &:has(input:focus) {
        box-shadow:
            0 0 0 1px $mono-200,
            0 0 0 0.25rem $mono-100;

        svg {
            color: $mono-600;
        }

        @include dark-mode {
            background-color: $mono-800;
            box-shadow: 0 0 0 1.25px $mono-500;

            svg {
                color: $mono-500;
            }
        }
    }

    svg {
        color: $mono-500;

        transition: color 100ms ease;

        @include dark-mode {
            color: $mono-400;
        }

        path {
            stroke: unset;
        }
    }

    input {
        flex-grow: 1;

        height: 3rem;

        font-size: $fs-14;
        font-weight: 400;
        color: $mono-700;

        @include dark-mode {
            color: $mono-light;
        }
    }

    p {
        position: absolute;

        left: 3.25rem;

        width: 100%;

        color: $mono-700;
        font-size: $fs-14;
        font-weight: 500;

        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;

        pointer-events: none;

        span {
            color: $mono-500;
            font-weight: 400;
        }

        @include dark-mode {
            color: $mono-200;
        }
    }

    > button {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;

        svg {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
}
